#lightDark{
  position:fixed;
  top:0;
  margin-top: 17px;
  width: 50px;
  height: 48px;
}

.adsCarousel{
  position:relative; 
  top: 70px;
  left: 15px;
  background-color: gray;
  margin: auto;
  width: 100%;
}

.categoryBadges{
  position:relative; 
  top: 115px;
  margin: auto;
  width: 100%;
  left: 30px;
}

.categoryGrid{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}

.categoryGrid img{
  width: 50px;
  height: 50px;
}

.itemsCarousel{
  position:relative; 
  top: 150px;
  margin: auto;
  width: 100%;
  left: 30px;
}



.brandsBadges{
  position:relative; 
  top: 115px;
  margin: auto;
  width: 100%;
  left: 30px;
}

.brandsGrid{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}

.brandsGrid img{
  width: 55px;
  height: 55px;
  display: grid;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}


.bottom-cont{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: fixed;

}

.bottom-nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-top: 3px solid rgb(230, 230, 230);
  background-color: lightgray;

}

.bn-tab {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vl {
  border-left: 3px solid darkgray;
  height: 50px;
}


/* Popup style */


.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  width: 90%;
  height: 90%;
  margin: auto;
  background: white;
}
  
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 90px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
} 


.buySellGrid{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
}


.searchContainer{
  margin: 350px 170px; 
  position: relative;
  bottom: 0;
  width:100px;
  height:100px;
  display:grid;
  grid-template-columns: 8ch auto;
  grid-row: auto auto;
  grid-column-gap: 205px;
  grid-row-gap: 20px;
  

}



