#lightDark{
  position:fixed;
  top:0;
}

.adsCarousel{
  position:relative; 
  top: 70px;
  left: 15px;
  background-color: gray;
  margin: auto;
  width: 100%;
}

.categoryBadges{
  position:relative; 
  top: 115px;
  margin: auto;
  width: 100%;
  left: 30px;
}

.categoryGrid{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}

.categoryGrid img{
  width: 50px;
  height: 50px;
}

.sneakerCarousel{
  position:relative; 
  top: 150px;
  margin: auto;
  width: 100%;
  left: 30px;
}